.mediated-cats-list {
  display: flex;
  gap: 20px;
}

.mediated-cats-list .cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  flex: auto;
}
